<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


	<!-- auto Proxy -->
	<aop:aspectj-autoproxy />
	
	<!-- Connection Pool DataSource -->
	<bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
		<property name="URL" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="user" value="basicBlog" />
		<property name="password" value="basicBlog" />
		<property name="connectionCachingEnabled" value="true" />
		<qualifier value="main-db" />
	</bean>

	<!-- MyBatis SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" /><!-- dataSource를 주입한다.@Autowired의 수작업 -->
		<property name="configLocation" value="classpath:mybatis/configuration.xml" />
	</bean>

	<!-- MyBatis SqlSessionTemplate -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" /><!--  sqlSessionFactory를 가지고 있는 sqlSessionTemplate -->
	</bean>

	<context:annotation-config />
	<!-- 3개의 위치에서 스캐닝을 한다. -->
	<context:component-scan
		base-package="com.kosta.kyj.repository, com.kosta.kyj.service, com.kosta.kyj.aspect">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>


</beans>
